* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
body.loading {
  overflow: hidden;
}
body.loading .loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
body.loading .loader p {
  margin: 0;
  padding-top: 100px;
}
body.loading .one {
  position: absolute;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0;
  animation: loading 1.3s 0.65s infinite;
  height: 20px;
  width: 20px;
}
body.loading .two {
  position: absolute;
  border-radius: 50%;
  background: #CF3F6E;
  opacity: 0;
  animation: loading 1.3s infinite;
  height: 20px;
  width: 20px;
}
@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

body:not(.loading) .loader {
  display: none;
}
body:not(.loading) .loader p {
  display: none;
}

.flex {
  display: flex;
}

.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  text-align: right;
  padding: 20px;
  font-size: 12px;
  color: #222;
  max-width: 1440px;
  margin: 0 auto;
}
header i:before {
  font-size: 18px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  color: #222;
}
@media only screen and (max-width: 640px) {
  header {
    background-color: #CF3F6E;
    padding: 7px 20px;
    margin-bottom: 30px;
    color: white;
  }
  header i:before {
    color: white;
  }
}

h1 {
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  letter-spacing: -2px;
}
h1 span {
  font-size: 13px;
  display: block;
  letter-spacing: 2px;
  color: #666;
  font-weight: 400;
  margin-bottom: -10px;
}
h1:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: darkseagreen;
  margin-left: 177px;
  margin-top: 11px;
}
@media only screen and (max-width: 768px) {
  h1 {
    margin-left: -41px;
    font-size: 92px;
  }
  h1:before {
    margin-left: 140px;
    margin-top: 13px;
  }
  h1 span {
    font-size: 12px;
  }
}

#newPost {
  color: darkseagreen;
  background-color: #222;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  transition: color 0.25s linear;
  font-size: 20px;
  transition: all 0.25s;
  border-radius: 0;
}
#newPost i {
  margin-right: 10px;
  font-size: 20px;
  position: relative;
  top: 2px;
}
#newPost:hover, #newPost:focus {
  color: palevioletred;
}
@media only screen and (max-width: 768px) {
  #newPost {
    padding: 10px;
    font-size: 18px;
  }
}

.modal {
  background: rgba(255, 255, 255, 0.7);
}
.modal-header {
  background-color: #222;
  color: darkseagreen;
}
.modal .btn-close {
  background-color: #CF3F6E;
  opacity: 1;
  transition: all 0.2s linear;
}
.modal .btn-close:hover, .modal .btn-close:focus {
  background-color: white;
}
.modal-body {
  background: repeating-linear-gradient(45deg, #eee, #eee 10px, #eaeaea 10px, #eaeaea 20px);
}
.modal-content {
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.modal .form-group {
  margin-bottom: 20px;
}
.modal .btn-primary {
  background-color: #CF3F6E;
  color: white;
  border: none;
  transition: all 0.25s;
  float: right;
}
.modal .btn-primary.disabled {
  background-color: #222;
  color: #666;
  opacity: 0.2;
}
.modal .btn-primary:hover, .modal .btn-primary:focus {
  background-color: #222;
}

#posts {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
}
#posts .post {
  list-style: none;
  width: 24%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  padding: 20px;
  background-color: #eee;
  border-top: 4px solid #CF3F6E;
  position: relative;
}
#posts .post:first-letter {
  text-transform: capitalize;
}
#posts .post:before {
  content: "";
  height: 4px;
  width: 0;
  position: absolute;
  left: 0;
  top: -4px;
  transition: all 0.25s;
  background-color: #222;
}
#posts .post:hover {
  background: #eee;
}
#posts .post:hover:before {
  width: 100%;
}
#posts .post a {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -1.26px;
  font-size: 31;
  color: #222;
  transition: all 0.25s;
}
#posts .post a:hover, #posts .post a:focus {
  color: #CF3F6E;
}
#posts .post p {
  color: #666;
}
@media only screen and (max-width: 1240px) {
  #posts .post {
    width: 32%;
  }
}
@media only screen and (max-width: 1024px) {
  #posts .post {
    width: 49%;
  }
}
@media only screen and (max-width: 640px) {
  #posts .post {
    width: 100%;
    margin-bottom: 20px;
  }
}

footer {
  min-height: 40px;
  background-color: #CF3F6E;
}

/*# sourceMappingURL=style.css.map */
